/*!
  Home page gallery style sheet for COM1008 Assignment
  Author: Charles Lee
  Created: 17/11/16
  Last updated: 17/11/16
*/

/* ================================
   0.0. CSS DIRECTORY
   ================================
   1.0. INITIAL BREAKPOINT (Smartphone portrait)
   2.0. SMARTPHONE LANDSCAPE/SMALL TABLET BREAKPOINT (min-width: 500px)
   3.0. DESKTOP BREAKPOINT (min-width: 768px)
*/

/* ================================
   1.0. INITIAL BREAKPOINT (Smartphone portrait)
   ================================ */
#welcome {
  background-image: url("../img/dominoes.jpg");
}
#block-slider-3 {
  background-image: url("../img/tea1.jpg");
}
#pair-match {
  background-image: url("../img/tea2.jpg");
}
#spot-difference {
  background-image: url("../img/tea3.jpg");
}
#tic-tac-toe {
  background-image: url("../img/tea1.jpg");
}
#cat-teapot {
  background-image: url("../img/tea2.jpg");
}
#reviews {
  background-image: url("../img/tea3.jpg");
}

#founders {
  background-image: url("../img/checkers.jpg");
}


/* ================================
   2.0. SMARTPHONE LANDSCAPE/SMALL TABLET BREAKPOINT
   ================================ */

@media only screen and (min-width: 500px) {
}

/* ================================
   3.0. DESKTOP BREAKPOINT
   ================================ */

@media only screen and (min-width: 768px) {
}
