/*!
  Style sheet for COM1008 Assignment
  Author: Charles Lee
  Created: 09/11/16
  Last updated: 13/11/16
*/

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  padding-bottom: 10px;
}
h1 a, h1 a:visited {
  color: rgb(255, 255, 255);
}
h1 span, h2 span {
  margin-right: 10px;
}
h2 {
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.logo .fa-coffee {
  margin-right: 5px;
}

/* Header */
#header-container {
  background: #000;
}
header {
  box-sizing: border-box;
  color: #fff;
  /* Center the header */
  margin: 0 auto;
  padding-top: 10px;
}
header h1 {
  margin: 0;
  text-align: center;
}

/* Links */
a, a:visited {
  color: #ff8c00;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #cc7000;
}

/* Navigation */
nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
nav li {
  flex: 1;
  list-style: none;
  text-align: center;
}
nav li a {
  display: block;
  padding: 10px;
  white-space: nowrap;
}
nav li.highlight a,
nav li.highlight a:visited {
  background-color: #ff8c00;
  color: #fff;
}
nav li.highlight a:hover {
  background-color: #cc7000;
  text-decoration: none;
}
nav li.highlight a:active {
  text-decoration: underline;
}

/* Content */
article {
  margin: 0 auto;
  padding: 10px;
}
#company {
  background-color: #444;
  color: #fff;
}

/* Gallery */
.gallery {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.gallery figure {
  background: #000;
  flex: 1 1 100%;
  max-height: 250px;
  margin: 0;
  position: relative;

  /* Contents of figure */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  overflow: hidden;
}
.gallery figcaption {
  background: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  top: calc(50%-10px);
  width: 100%;

  /* Fix caption positioning (FIREFOX ONLY) */
  left: 50%;
  transform: translate(-50%, 0);
}
.gallery img {
  width: 100%;
}

/* Cover gallery item */
.gallery #cover {
  max-width: 100%;
}
.gallery #cover figcaption {
  background-color: transparent;
  text-align: left;
  top: 0;
}
.gallery #cover span {
  background-color: rgba(255, 255, 255, 0.7);
  font-family: "Coming Soon", cursive;
  line-height: 1.85em;
  padding: 5px;
}
.gallery #cover img {
  width: 1200px;
  height: auto;
}

/* Footer */
footer {
  color: rgb(124, 124, 124);
  font-size: 90%;
  padding: 20px;
}
footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
footer li {
  display: inline;
  list-style: none;
}
footer li:after {
  padding: 0 10px;
  content: "|";
}
footer li:last-child:after {
  content: "";
}

@media only screen and (min-width: 500px) {
  /* Header */
  header {
    padding: 10px;
  }
  nav li.highlight a, nav li.highlight a:hover {
    border-radius: 5px;
  }
  .gallery figure {
     max-width: 50%;
  }
  .gallery figure img {
    width: auto;
    height: 100%;
  }
  .gallery #cover figcaption {
    padding: 0 20px;
  }
  .gallery #cover span {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 768px) {
  /* Max widths */
  header, article, .gallery {
    box-sizing: border-box;
    max-width: 900px;
    margin: 0 auto;
  }
  .gallery {
    max-width: 1200px;
  }

  /* Header */
  header {
    display: flex;
    flex-flow: row wrap;
    padding: 10px 20px;
  }
  h1 {
    font-size: 2em;
    padding: 0;
  }
  article {
    padding: 20px;
  }

  /* Navigation */
  nav {
    flex: 1;
  }
  nav li {
    flex: 0;
    margin: 0 20px 0 0;
  }
  nav li:last-of-type {
    margin: 0;
  }

  /* Create 3 columns in gallery */
  .gallery figure {
     max-width: calc(100%*1/3);
  }
  .gallery #cover figcaption {
    max-width: 900px;
    top: 20px;
  }
  .gallery #cover span {
    font-size: 1.6em;
  }
}